<% if fighter %>

  <h2 class='text-center'><%= fighter.name.capitalize %></h2>
  <div class="d-flex justify-content-between">
    <p>Level: <%= fighter.level %></p>
    <p>Fighting power: <%= fighter.stats[:overall_stats] %></p>
  </div>
  <div class="d-flex justify-content-between">
    <p>❤️: <%= fighter.stats[:health_point] %></p>
    <%= render './fighters/fighter_card_stats', fighter: fighter, keyword: '⚔️', value: fighter.stats[:attack], gear_value: fighter.stats[:gear_attack] %>
    <%= render './fighters/fighter_card_stats', fighter: fighter, keyword: '🛡', value: fighter.stats[:defence], gear_value: fighter.stats[:gear_defence]  %>
    <%= render './fighters/fighter_card_stats', fighter: fighter, keyword: '👟', value: fighter.stats[:speed_attack], gear_value: fighter.stats[:gear_speed_attack]  %>
  </div>

  <% if fighter.fighter_gears.where(equiped: true).count < 1 %>
  <p class='text-center'> No gear equiped, you can equip gear from level 2</p>
  <% end %>
<% end %>
