<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/vectors/versus-light-battle-mma-concept-fight-night-mma-boxing-wrestling-thai-vector-id1250175973?k=20&m=1250175973&s=170667a&w=0&h=o8LRvXbDXb5FKClkyJ_9_69nvRCEx3nq8xe1NNprqu8=);">
  <div class="container">
  <h1 class="text-center"> Welcome to the Arena!</h1>
  <h3 class="text-center">Select existing characters or create one then have them fight! <br>
  Each character have a different attack, defence, speed. <br>
  Try to fight a bit, characters can also increase level and get gears!</h3>
  </div>
</div>

<div class="container">
  <div class= form_box>
  <h1 class='text-center'>Select two different fighters!</h1>

      <div class="form-login d-flex justify-content-center">
        <%= simple_form_for @fight, url: fights_path do |f| %>
          <%= render "./pages/shared/error_message", instance: @fight %>

          <%= f.select :first_fighter, available_fighters(@fighters).map { |fighter| fighter.name },
                        class: 'm-5', id: 'first-fighter'  %>
          <%= f.select :second_fighter, available_fighters(@fighters).map { |fighter| fighter.name }, class: 'm-5' %>
          <%= f.submit 'Start a Fight', class: 'btn btn-success my-3 px-5', style: "border-radius: 20px;" %>
        <% end %>
      </div>
  </div>

  <div class="row">
  <h1 class = "text-center">Our strongest challengers</h1>
    <%= render "best_fighters", fighters: @best_fighters %>
  </div>
</div>
