<div class='container'>
<h1 class='text-center mt-5'><%= @fight.red_fighter.name.capitalize %> VS <%= @fight.blue_fighter.name.capitalize %></h1>
<h2 class='text-center'>The winner is <%= @fight.winner %></h2>
<div class="row">
    <% @fighters.each do |fighter| %>
      <div class="col-12 col-lg-6">
        <div class="fighter_card">
          <% if fighter.photo.attached?%>
            <%= cl_image_tag fighter.photo.key%>
          <% else %>
            <%= image_tag "ken.jpg"%>
          <% end %>
          <div class="fighter_card_infos">
            <h2 class='text-center'><%= fighter.name.capitalize %></h2>
            <div class="d-flex justify-content-between">
              <p>Level: <%= fighter.level %></p>
              <p>Fighting power: <%= fighter.health_point+ fighter.attack_with_gear + fighter.defence_with_gear + fighter.speed_attack_with_gear%></p>
            </div>
            <div class="d-flex justify-content-between">
              <p>HP: <%= fighter.health_point %></p>
              <p>Attack: <%= fighter.attack_with_gear %></p>
              <p>Defence: <%= fighter.defence_with_gear %></p>
              <p>Speed: <%= fighter.speed_attack_with_gear %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class= 'form_box'>
  <h2 class='text-center'>Rewards</h2>

  <div class="d-flex justify-content-between">

      <% if @fighters[0].name == @fight.winner %>

        <div>
          <h3>Winner, <%= @fight.winner %></h3>
          <h4>Experience : +<%= @fighters[1].level * 10 %></h4>
          <% number_of_lvl_up = @fighters[0].stats_up_array.count / 2 %>
          <% if number_of_lvl_up >= 1 %>
            <p><%= pluralize(number_of_lvl_up, "level") %> up!</p>
            <p><%= @fighters[0].stats_up_array %></p>
            <p><%= @fighters[0].gear_stats_array.last(number_of_lvl_up) %></p>
          <% end %>
        </div>

        <div>
        <h3>Loser, <%= @fighters[1].name %></h3>
        <h4>Experience : +<%= @fighters[0].level * 2 %></h4>
          <% number_of_lvl_up = @fighters[1].stats_up_array.count / 2 %>
          <% if number_of_lvl_up >= 1 %>
            <p><%= pluralize(number_of_lvl_up, "level") %> up!</p>
            <p><%= @fighters[0].stats_up_array %></p>
            <p><%= @fighters[0].gear_stats_array.last(number_of_lvl_up) %></p>
          <% end %>
        </div>

      <% else %>

        <div>
          <h3>Winner, <%= @fighters[1].name %></h3>
          <h4>Experience : +<%= @fighters[0].level * 10 %></h4>
          <% number_of_lvl_up = @fighters[1].stats_up_array.count / 2 %>
          <% if number_of_lvl_up >= 1 %>
            <p><%= pluralize(number_of_lvl_up, "level") %> up!</p>
            <p><%= @fighters[0].stats_up_array %></p>
            <p><%= @fighters[0].gear_stats_array.last(number_of_lvl_up) %></p>
          <% end %>
        </div>

        <div>
        <h3>Loser, <%= @fighters[0].name %></h3>
        <h4>Experience : +<%= @fighters[1].level * 2 %></h4>
          <% number_of_lvl_up = @fighters[0].stats_up_array.count / 2 %>
          <% if number_of_lvl_up >= 1 %>
            <p><%= pluralize(number_of_lvl_up, "level") %> up!</p>
            <p><%= @fighters[0].stats_up_array %></p>
            <p><%= @fighters[0].gear_stats_array.last(number_of_lvl_up) %></p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

<div class= 'form_box'>
<h2 class='text-center'>Fight summary</h2>
<ol>
<% @fight.turns.each do |turn|%>
<li><%= turn %></p>
<% end %>
</ol>
</div>
</div>
