<div class='container'>
<h1 class='text-center mt-5'><%= @fight.red_fighter.name.capitalize %> VS <%= @fight.blue_fighter.name.capitalize %></h1>
<h2 class='text-center'>The winner is <%= @fight.winner %></h2>
<div class="row">
    <% @fighters.each do |fighter| %>
      <div class="col-12 col-lg-6">
        <div class="fighter_card">
          <% if fighter.photo.attached?%>
            <%= cl_image_tag fighter.photo.key%>
          <% else %>
            <%= image_tag "ken.jpg"%>
          <% end %>
          <div class="fighter_card_infos">
            <h2 class='text-center'><%= fighter.name.capitalize %></h2>
            <div class="d-flex justify-content-between">
              <p>Level: <%= fighter.level %></p>
              <p>Fighting power: <%= fighter.health_point+ fighter.attack_with_gear + fighter.defence_with_gear + fighter.speed_attack_with_gear%></p>
            </div>
            <div class="d-flex justify-content-between">
              <p>HP: <%= fighter.health_point %></p>
              <p>Attack: <%= fighter.attack_with_gear %></p>
              <p>Defence: <%= fighter.defence_with_gear %></p>
              <p>Speed: <%= fighter.speed_attack_with_gear %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>

  <%= render 'rewards', fighters: @fighters %>

<div class= 'form_box'>
<h2 class='text-center'>Fight summary</h2>
<ol>
<% @fight.turns.each do |turn|%>
<li><%= turn %></p>
<% end %>
</ol>
</div>
</div>
